Source: copr-cli
Section: admin
Priority: optional
Maintainer: Hiroaki Nakamura <hnakamur@gmail.com>
Build-Depends: debhelper (>=9), dh-python,
 python3-all (>=3.5), python3-setuptools,
 python3-simplejson, python3-jinja2, python3-copr (>= 1.63),
 python3-progress
Standards-Version: 3.9.6
X-Python3-Version: >= 3.5
XS-Python3-Version: >= 3.5
Homepage: https://pagure.io/copr/copr
#Vcs-Git: https://pagure.io/copr/copr.git
#Vcs-Browser: https://pagure.io/copr/copr/blob/master/f/cli

Package: python3-copr-cli
Architecture: all
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends},
 python3-setuptools, python3-simplejson, python3-jinja2, python3-copr (>= 1.63),
 python3-progress
Description: Command line interface for COPR.
 COPR is lightweight build system.
 It allows you to create new project in WebUI, and submit new
 builds and COPR will create yum repository from latests builds.
 .
 This package contains command line interface.
